h1{
    color: #e7d6ab;
}

h2{
    text-align: center;
    font-size: xx-large;
}

h3{
    max-width: 250px;
    text-align: center;
}

.b1{
    background-color: #9caacd;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 50px;
}

.b2{
    background-color: #e7d6ab;
    display: flex;
    justify-content: center;
}

.b3{
    background-color: #46516f;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.mon{
    border:10px;
    border-style: solid;
    border-color: #46516f;
    border-radius: 10px;;
}

.quote{
    max-width:300px;
    font-family: serif;
    font-size: larger;
    background-color: #c0c5d1;
    padding: 20px;
    border: 5px;
    border-radius: 5px;
}

ul{
    list-style-type: none;
    display: flex;
    color: #e7d6ab;
    gap: 30px;
    padding-top: 15px;
    padding-right: 20px;
    font-weight: bold;
}

.propaganda{
    display: flex;
    font-family: Verdana;
    font-weight:600;
    background-color: rgb(85, 131, 218);
    border-radius: 5px;
    padding: 10px;
    color: white;
}

button{
    background-color: lightblue;
    font-family: Cambria;
    border-radius: 5px;
    border-color: lightblue;
    color: white;
}

.header{
    display: flex;
    background-color: #46516f;
    justify-content: space-between;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: lightgray;
    padding: 10px;
}